* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: whitesmoke;
  box-sizing: border-box;
  user-select: none;
}

.app-page {
  background-color: #191919;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-calc {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: #5e5e5e;
}

.rpn-calc__sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgb(126 126 126 / 50%);
}

.fa-calculator {
  color: #404040;
  font-size: 1.2rem;
}

.sign-container__label:hover {
  cursor: pointer;
}

.sign-container__label:hover > i {
  color: #7d4125;
}

.sign-container__label__descrip {
  color: #404040;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.sign-container__autor-sign {
  text-align: center;
  font-size: 0.8rem;
  color: #404040;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}

.rpn-calc__result-input {
  color: black;
  outline: none;
  height: 3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.rpn-calc__inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* МАНУАЛ К КАЛЬКУЛЯТОРУ: */
.calc-manual {
  font-family: 'Poppins', sans-serif;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 46px;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  background-color: #404040;
  width: 100%;
  /* opacity: 0.9; */
}

.calc-manual__elem__label {
  color: #d07d00;
  font-weight: bold;
}

.calc-manual__elem {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  line-height: 1.3;
  padding: 0.3rem;
  border-bottom: 2px solid gray;
}

.calc-manual__elem__descrip {
  color: #dcdcdc;
}

/* .calc-manual li:first-child {
  padding: 0.5rem;
} */

.calc-manual-active {
  visibility: visible;
}

.calc-manual__elem__label-arrow {
  color: #d07d00;
}

/* --------------------------------------------------------------- */
/* ВЕРХНЯЯ ЧАСТЬ: */
/* --------------------------------------------------------------- */
.calc-inner__math-functions {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.math-functions__elem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.math-functions__elem.swap-values-btn {
  font-size: 1rem;
}

.math-functions__elem.swap-values-btn > i {
  margin: 0 0.2rem;
}

.math-functions__elem.enter-btn {
  grid-column: span 2;
}

.math-functions__elem > i {
  font-size: 0.8rem;
  margin-left: 0.1rem;
}

.math-functions__elem:hover,
.enter-elem:hover {
  background-color: #474747;
}

/* STORE и RECALL (записать / извлечь значение из ячейки памяти): */
.math-functions__memory-actions {
  grid-column: span 3;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.memory-actions__elem {
  flex-basis: 50%;
}

.math-functions__triginometry {
  grid-column: span 3;
  display: flex;
  gap: 0.5rem;
}

.triginometry__elem {
  flex-basis: 50%;
}

.math-functions__elem.clear-value-elem > i {
  font-size: 1.3rem;
  color: #d07d00;
}

.memory-actions__elem:hover,
.triginometry__elem:hover {
  background-color: #474747;
}

/* --------------------------------------------------------------- */
/* НИЖНЯЯ ЧАСТЬ: */
/* --------------------------------------------------------------- */

.calc-inner__actions-arithmetic-nums {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.actions-arithmetic-nums__actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions-arithmetic-nums__arithmetic-nums {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.arithmetic-nums__elem {
  min-width: 60px;
}

.actions__elem:hover,
.arithmetic-nums__elem:hover {
  background-color: #474747;
}

/* .rd-elem {
  background-color: #763d23;
  border: none;
}

.rd-elem:hover {
  background-color: #814427;
}

.rup-elem {
  background-color: #505093;
  border: none;
}

.rup-elem:hover {
  background-color: #5959a3;
} */

.fa-left-long,
.fa-right-long {
  font-size: 1rem;
}

.exp-btn,
.pow-btn,
.reciprocal-btn {
  white-space: nowrap; /* запрет на перенос текста */
}

.math-functions__elem,
.memory-actions__elem,
.triginometry__elem,
.actions__elem,
.arithmetic-nums__elem {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #404040;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  /* font-size: 1rem; */
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.clear-all-elem {
  background-color: #7d4125;
}

.clear-all-elem:hover {
  background-color: #8a4728;
}

.calc-memory {
  background-color: #41417b;
}

.calc-memory:hover {
  background-color: #4e4e8f;
}

.disabled-btn {
  background-color: #636363;
}

.disabled-btn:hover {
  cursor: not-allowed;
  background-color: #636363;
}

/* стили для небольших экранов: */
@media (max-width: 450px) {
  .app-calc {
    max-width: 100%;
    min-width: 275px;
  }

  .rpn-calc__inner {
    gap: 1rem;
  }

  .rpn-calc__result-input {
    font-size: 1.2rem;
    padding: 0.4rem;
    margin: 0.5rem 0;
  }

  .calc-inner__math-functions {
    grid-template-columns: repeat(3, 1fr);
  }

  .rpn-calc__sign {
    gap: 1rem;
  }

  .sign-container__label {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .sign-container__label__descrip {
    font-size: 0.8rem;
  }

  .sign-container__autor-sign {
    text-align: right;
  }

  .user-progs-control-btn {
    white-space: nowrap;
    font-size: clamp(0.7rem, 3vw, 1rem);
  }

  .arithmetic-nums__elem {
    min-width: 45px;
  }
}
