* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: whitesmoke;
  box-sizing: border-box;
}

.app-page {
  background-color: #191919;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-calc {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.2rem;
  gap: 1rem;
  background-color: #5e5e5e;
}

.rpn-calc__result-input {
  color: black;
  outline: none;
  height: 3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.rpn-calc__inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* --------------------------------------------------------------- */
/* ВЕРХНЯЯ ЧАСТЬ: */
/* --------------------------------------------------------------- */
.calc-inner__math-functions {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.math-functions__elem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.math-functions__elem.swap-values-btn {
  font-size: 1rem;
}

.math-functions__elem.swap-values-btn > i {
  margin: 0 0.2rem;
}

.math-functions__elem.enter-btn {
  grid-column: span 2;
}

.math-functions__elem > i {
  font-size: 0.8rem;
  margin-left: 0.1rem;
}

.math-functions__elem:hover,
.enter-elem:hover {
  background-color: #474747;
}

/* STORE и RECALL (записать / извлечь значение из ячейки памяти): */
.math-functions__memory-actions {
  grid-column: span 2;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.memory-actions__elem {
  flex-basis: 50%;
}

.math-functions__triginometry {
  grid-column: span 3;
  display: flex;
  gap: 0.5rem;
}

.triginometry__elem {
  flex-basis: 50%;
}

.math-functions__elem.clear-value-elem > i {
  font-size: 1.3rem;
  color: #d07d00;
}

.memory-actions__elem:hover,
.triginometry__elem:hover {
  background-color: #474747;
}

/* --------------------------------------------------------------- */
/* НИЖНЯЯ ЧАСТЬ: */
/* --------------------------------------------------------------- */

.calc-inner__actions-arithmetic-nums {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.actions-arithmetic-nums__actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions-arithmetic-nums__arithmetic-nums {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.arithmetic-nums__elem {
  min-width: 60px;
}

.actions__elem:hover,
.arithmetic-nums__elem:hover {
  background-color: #474747;
}

.rd-elem {
  background-color: #763d23;
  border: none;
}

.rd-elem:hover {
  background-color: #814427;
}

.rup-elem {
  background-color: #505093;
  border: none;
}

.rup-elem:hover {
  background-color: #5959a3;
}

.fa-left-long,
.fa-right-long {
  font-size: 1rem;
}

button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #404040;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
